<po-page-default>
  <h2>Heróis</h2>

  <div>
    <label>Nome:
      <po-input #heroName></po-input>
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <po-button (click)="add(heroName.getScreenValue()); heroName.value=''" p-label="Adicionar">
    </po-button>
  </div>

  <po-page-dynamic-table [p-fields]="menu">

  </po-page-dynamic-table>

  <!-- <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <po-button p-label="x" class="delete" title="delete hero" (click)="delete(hero)"></po-button>
    </li>
  </ul> -->
</po-page-default>